<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="CalebMatsickResume.pdf">Resume</a></li>
	        		<li><a href="/blog">Blog</a></li>
				<li><a href="/photos">The Sights</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:caleb@matsick.com">Send me an email!</a></li>
	        		<li><a href="https://github.com/calebmatsick">Check out my projects on Github!</a></li>
				<li><a href="https://www.linkedin.com/in/calebmatsick/">Find out more about my work LinkedIn! </a></li>
				</ul>
			</footer>
		</body>
	</html>
