<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">About</a></li>
	        		<li><a href="CalebMatsice.pdf">Resume</a></li>
	        		<li><a href="/blog">Thoughts</a></li>
				<li><a href="/photos">Sights</a></li>

				<li><a href="/contact">Contact</a></li>
	    		</ul>
			</nav>
			
			<hr>
			
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			
			<hr>
			
		</body>
	</html>
